<div class="side_header">
	<div>
		<%= link_to current_user.name, edit_user_path(current_user), class:"user_name"%>
	</div>
	<div>
		<%= link_to "チャットを作成する", new_room_path,class:"room_new"%>
	</div>
</div>
<div class="rooms">
	<ul>
		<% current_user.rooms.each do |room| %>
			<div class="room">
				<div class="room_name">
					<a href="#"><%= room.name %></a>
				</div>
			</div>
		<% end %>
	</ul>
</div>