<div class="side_header">
	<div>
		<%= link_to current_user.name, edit_user_path(current_user), class:"user_name"%>
	</div>
	<a class="room_new" href="#">チャットを作成する</a>
</div>
<div class="rooms">
	<ul>
		<li class="room"><a href="#">techroom1</a></li>
		<li class="room"><a href="#">techroom2</a></li>
	</ul>
</div>