<div class="side_header">
	<a class="user_name" href="#">Tom</a>
	<a class="room_new" href="#">チャットを作成する</a>
</div>
<div class="rooms">
	<ul>
		<li class="room"><a href="#">techroom1</a></li>
		<li class="room"><a href="#">techroom2</a></li>
	</ul>
</div>